* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
    ;
}

header{
    width: 100%;
    background: tomato;
 
  
}
nav {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    width: 100%;
   
}
nav  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;

}
nav ul li {
    display: inline-flex;
    padding: 0 20px;

}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16%;
    flex-direction: column;
    width: 100%;
}
.center .img img{
    width: 300px;
    height: 200px;
    border-radius: 50%;
}

.about {
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
}
.about h1 {
    text-align: center;
   font-size: 2rem;
   margin: 10px
}
.about b {
  line-height: 2px;
  padding: 2px;
  font-size: 16px;
}

.flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    margin-top: 30px;
    text-align: left;
  
}
.one {
    width: 300px;
    margin: 0 auto;
}
.one h2 {
    font-size: 2rem;
   margin-bottom: 10px;
}

.two {
    width: 300px;
    margin: 0 auto;
}
.two h2 {
    font-size: 2rem;
   margin-bottom: 10px;
}

.copyrigt{
    background: rgb(99, 17, 17);
    text-align: center;
    padding: 10px;
    color: #fff;
}

.p1 {
    line-height: 30px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    background: rgb(238, 242, 243);
}
form {
    width: 500px;
}
form div {
    padding-bottom: 20px;
}

label {
    display: block;
}

form div input {
    width: 100%;
    padding: 20px 50px;
    outline: none;
}


form div  textarea {
    width: 200px;
    height: 60px;
    resize: none;
    outline: none;
}
form button {
    width: 100%;
    padding: 20px;
    color: #fff;
    background: tomato;
    border: 0;
    outline: none;
}

#services {
   margin: 0 5%;
}
.service_list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    grid-gap: 10px;


}
.service_list div {
    background: #262626;
    padding: 40px;
    font-weight: 400;
    border-radius: 10px;
    font-size: 13px;
    transition: background 0.5s   transform 0.5s ;
    color: #fff;
}
.service_list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
.title-ser{
    margin: 10px;
   
}










@media  ( max-width: 650px){
    
    

 .center{
     padding: 10px;
     margin-bottom: 80px;
     padding-bottom: 30px;
 }
 .center .img img {
   padding-bottom: 30px;
   height: 200px;
    
}
.about {
    width: 80%;

}
.flex {

    grid-template-columns: 1fr ;
}

.service_list div {

    padding: 30px;

}

.contact {
    width: 300px;
    text-align: center;
}
.center form div {
    width: 100%;
}
form div input {
    width: 200px;
    padding-bottom: 50px;
    margin-bottom: 10px;
}


form button {
    width: 80px;
}

}